doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title webpack Project

    body
        include ../common/mixins
        +e.wrapper
            include ../sections/header
            +b.SECTION.main
                +e.picture-wrapper
                    +e.IMG.image(src='/../assets/images/logo.png')
                +e.logo
                    include ../common/logo.pug
                +e.descriptions
                    p коллекция авторских квартир