+b.HEADER.header
    +e.menu-wrapper
        +e.button-wrapper
            +e.BUTTON.menu Меню
            +e.elements
                span
                span
                span
        +b.dropdown
            +e.A(href="#").element Выбор квартир
            +e.A(href="#").element Расположение
            +e.A(href="#").element архитектура
            +e.A(href="#").element квартиры
            +e.A(href="#").element благоустройство
            +e.A(href="#").element ход строительства
            +e.A(href="#").element документы
            +e.A(href="#").element Контакты
    +e.right
        +e.contacts
                +e.A(href="tel:+74953222232").element +7 495 322 22 32
                +e.A(href="mailto:sales@4rubel.ru").element e-mail: sales@4rubel.ru
        +e.callback
            +e.BUTTON.btn заказать звонок


